<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" type="text/css" href="welcome.css" />
	<link rel="stylesheet" type="text/css" href="welcome2.css" />
</head>
<body class="demo-adsila">
    <main>
        <section class="content">
            <nav class="menu menu--adsila">
                <a class="menu__item" href="#">
                    <span class="menu__item-name">支行管理</span>
                    <span class="menu__item-label">提供支行所有信息的增、删、改、查功能</span>
                </a>
                <a class="menu__item" href="#">
                    <span class="menu__item-name">员工管理</span>
                    <span class="menu__item-label">提供支行员工所有信息的增、删、改、查功能</span>
                </a>
                <a class="menu__item" href="#">
                    <span class="menu__item-name">客户管理</span>
                    <span class="menu__item-label">提供客户所有信息的增、删、改、查功能</span>
                </a>
                <a class="menu__item" href="#">
                    <span class="menu__item-name">账户管理</span>
                    <span class="menu__item-label">提供账户开户、销户、修改、查询功能</span>
                </a>
                <a class="menu__item" href="#">
                    <span class="menu__item-name">贷款管理</span>
                    <span class="menu__item-label">提供贷款信息的增、删、查功能，提供贷款发放功能</span>
                </a>
                <a class="menu__item" href="#">
                    <span class="menu__item-name">业务统计</span>
                    <span class="menu__item-label">按业务分类（储蓄、贷款）和时间（月、季、年）统计各个支行的业务
                    总金额和用户数</span>
                </a>
            </nav>
        </section>
    </main>
    <script>
        setTimeout(() => document.body.classList.add('render'), 60);
    </script>
</body>
</html>